#!/bin/sh

set -eu

command=$1
upstream_dir=$2

cd "$upstream_dir"

case "${command}" in
  configure)
      for p in ./profile.d/*.sh; do
	  ln -fns $p /etc/profile.d/$(basename $p)
	  echo "info:   installing $(basename $p)"
      done
    ;;
	
  unconfigure)
      for p in ./profile.d/*.sh; do
	  rm -f /etc/profile.d/$(basename $p)
      done
    ;;
    
  *)
    ;;
esac
