#!/bin/sh

set -eu

command=$1
upstream_dir=$2


m=$(realpath $2)

case "${command}" in
  configure)
      for p in $m/profile.d/*.sh; do
	  #echo $p
	  ln -fns $p /etc/profile.d/$(basename $p)
	  echo "info:   $(basename $p)"
      done
    ;;
	
  unconfigure)
      for p in $m/profile.d/*.sh; do
	  rm -f /etc/profile.d/$(basename $p)
      done
    ;;
    
  *)
    ;;
esac
