#!/bin/sh

set -eu

command=$1
shift

case "$command" in
  configure)
      upstream_dir=$1
      ln -fns "$upstream_dir/puavoconf" /opt/puavoconf
 
    ;;
  unconfigure)
      rm -rf /opt/puavoconf
    ;;
  unpack)
    upstream_pack=$1
    upstream_dir=$2
    tar -x -z -f "${upstream_pack}" -C "${upstream_dir}" 
    ;;
  *)
    ;;
esac
