[Unit]
Description=Make Avahi Service
After=syslog.target network.target nss-lookup.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/puavo-avahi-anounce


[Install]
WantedBy=multi-user.target
