#!/bin/sh

set -eu

command=$1
upstream_dir=$2

cd "${upstream_dir}"

m=$(realpath $2)

PFAD="usr/share/gnome-shell/extensions"

case "${command}" in
  configure)
    ln -fns $m/setup-gnome-touch.sh /etc/profile.d/setup-gnome-touch.sh
    test -d /$PFAD/bigtouch-ux@puavo.org && rm -rf /$PFAD/bigtouch-ux@puavo.org 
    ln -fns $m/bigtouch-ux@puavo.org /$PFAD/bigtouch-ux@puavo.org 
    ;;
	
  unconfigure)
      rm -f /etc/profile.d/setup-gnome-touch.sh
      rm -f /$PFAD/bigtouch-ux@puavo.org 
    ;;
    
  *)
    ;;
esac
