[Unit]
Description=Clinet for Virtual LTSP
After=network-online-target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Type=simple
ExecStart=/usr/local/sbin/puavo-virtualltsp-client

[Install]
WantedBy=multi-user.target
