#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=ClassroomScreen
GenericName=Simple Whiteboard App
Icon=classroomscreen.png
Exec=/usr/share/bin/webapps https://classroomscreen.com/app
Terminal=false
Categories=Education;Whiteboard
