#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Presenta
GenericName=Presenta
Comment="Online MD Präsentationen"
Keywords=""
Icon=/usr/share/pixmaps/meetzide_logo.png
Exec=/usr/share/bin/webapps  https://play.presenta.cc
Terminal=false
Categories=Education
