#!/bin/sh

set -eu

command=$1
shift

case "$command" in
  configure)
    upstream_dir=$1

    ln -fns "$upstream_dir/wireguard/amxa-wireguard.service" /etc/systemd/system/amxa-wireguard.service
    ln -fns "$upstream_dir/wireguard/amxa-wireguard" /usr/local/sbin/amxa-wireguard
    chmod +x /usr/local/sbin/amxa-wireguard
    systemctl enable amxa-wireguard.service
    ;;
  
  unconfigure)
    rm -f /etc/systemd/system/amxa-wireguard.service\
	  /usr/local/sbin/amxa-wireguard
    ;;
  
  unpack)
    upstream_pack=$1
    upstream_dir=$2

    tar  -x -z -f "$upstream_pack" -C "$upstream_dir"
    ;;
  
  *)
    ;;
esac
