#!/bin/sh

set -eu

command=$1
upstream_dir=$2

cd "${upstream_dir}"

m=$(realpath $2)

# missing: do not install, when in image.

case "${command}" in
  configure)
    cp $m/puavo-pkg-renew /usr/local/sbin/puavo-pkg-renew

    cat <<EOF > /etc/systemd/system/puavo-pkg-renew.service
[Unit]
Description=renews puavo packages 
#After=syslog.target network.target nss-lookup.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/puavo-pkg-renew


[Install]
WantedBy=multi-user.target
EOF
    systemctl enable puavo-pkg-renew.service
    ;;
	
  unconfigure)
      ;;
    
  *)
    ;;
esac



