#!/bin/sh
set -eu

command=$1
shift

case "${command}" in

    configure|unconfigure)
	upstream_dir=$1

	echo "info: === amxabasis ==="
	for rules in $(ls $upstream_dir/amxabasis/*/rules); do
	    if test -x $rules; then
		name=$(basename $(dirname $rules))
		echo "info: $command $name"
		$rules $command $(realpath $upstream_dir/amxabasis/$name)
	    fi
	done
	echo "info: ================="
	;;
    
    unpack)
	upstream_pack=$1
	upstream_dir=$2

	tar -x -z -f "${upstream_pack}" -C "${upstream_dir}" 
	;;
    
    *)
	;;
esac
