#!/bin/sh
set -eu

command=$1
shift

case "${command}" in

    configure|unconfigure)
	upstream_dir=$1

	for rules in $(ls $upstream_dir/*/rules); do
	    if test -x $rules; then
		name=$(basename $(dirname $rules))
		echo "$command $name"
		$rules $command $upstream_dir/$name
	    fi
	done
	;;
    
    unpack)
	upstream_pack=$1
	upstream_dir=$2

	tar -x -z -f "${upstream_pack}" -C "${upstream_dir}" 
	;;
    
    *)
	;;
esac
