#!/bin/sh

set -eu

command=$1
upstream_dir=$2

cd "${upstream_dir}"

m=$(realpath $2)

case "${command}" in
  configure)
    cp  $m/kemi-art/* /usr/share/kemi-art/.
    ;;
	
  unconfigure)
    ;;
    
  *)
    ;;
esac
