#!/bin/sh

set -eu

command=$1
upstream_dir=$2

cd "${upstream_dir}"


case "${command}" in
  configure)
    cp  ./kemi-art/* /usr/share/kemi-art/.
    ;;
	
  unconfigure)
    ;;
    
  *)
    ;;
esac
