#!/bin/sh

set -eu



command=$1
shift


pfad="/etc/puavomenu/menudata"

case "${command}" in
    configure)
	upstream_dir=$1
	
        ln -fns "$upstream_dir/puavomenu/91-tab-main.json" $pfad/91-tab-main.json
        ln -fns "$upstream_dir/puavomenu/91-tab-subjects.json" $pfad/91-tab-subjects.json

	if ! test -f /usr/share/pixmaps/moreapps.png; then
	   ln -fns "$upstream_dir/puavomenu/moreapps.png" /usr/share/pixmaps/moreapps.png
	fi


	PFAD=/etc/puavomenu/menudata/50-default.json
	
	if test -f $PFAD; then
	    if ! test -f $PFAD.ori; then
		cp $PFAD $PFAD.ori
	    fi
	    sed -i $PFAD -e "s@/usr/share/puavo-art/puavomenu-icons/programming.svg@/usr/share/icons/Faenza/categories/48/gnome-devel.png@g"
	    sed -i $PFAD -e "s@/usr/share/puavo-art/puavomenu-icons/office.svg@/usr/share/icons/Faenza/categories/48/applications-office.png@g"
	    sed -i $PFAD -e  "s@/usr/share/puavo-art/puavomenu-icons/internet.svg@/usr/share/icons/Faenza/categories/48/applications-internet.png@g"
	    sed -i $PFAD -e "s@/usr/share/puavo-art/puavomenu-icons/graphics.svg@/usr/share/icons/Faenza/categories/48/applications-painting.png@g"
	    sed -i $PFAD -e "s@/usr/share/puavo-art/puavomenu-icons/games.svg@/usr/share/icons/Faenza/categories/48/applications-cardgames.png@g"
	    sed -i $PFAD -e "s@/usr/share/puavo-art/puavomenu-icons/education.svg@/usr/share/icons/Faenza/categories/48/applications-games.png@g"
	    sed -i $PFAD -e "s@/usr/share/puavo-art/puavomenu-icons/audiovideo.svg@/usr/share/icons/Faenza/categories/48/applications-multimedia.png@g"
	    sed -i $PFAD -e "s@/usr/share/puavo-art/puavomenu-icons/accessories.svg@/usr/share/icons/Faenza/categories/48/applications-accessories.png@g"
	fi
	
	cat <<EOF > /etc/systemd/system/puavomenu-moreapps.service
[Unit]
Description=Make Menu Moreapps

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/puavomenu-moreapps

[Install]
WantedBy=multi-user.target
EOF
	systemctl enable puavomenu-moreapps.service

	;;
    
    unconfigure)
	upstream_dir="$1"
	
        rm -f $pfad/91-tab-main.json
        rm -f $pfad/91-tab-subjects.json

        if test -f $PFAD.ori; then
	   cp $PFAD.ori $PFAD
	   rm $PFAD.ori
	fi
	
	rm -f /etc/systemd/system/puavomenu-moreapps.service
	
	;;
    
    unpack)
	upstream_pack=$1
	upstream_dir=$2

	tar -x -z -f "${upstream_pack}" -C "${upstream_dir}" 

	;;
    
    *)
	;;
esac
