#!/bin/sh

set -eu


command=$1
upstream_dir=$2

cd $2

echo $1 $2
pwd
ls ./puavo-webfilter

case "${command}" in
    configure)
	rm -r /usr/local/sbin/puavo-webfilter || true
    cp  ./puavo-webfilter /usr/local/sbin/puavo-webfilter
    cat <<EOF > /etc/systemd/system/puavo-webfilter.service
[Unit]
Description=Puavo Web-Filter 
#After=syslog.target network.target nss-lookup.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/puavo-webfilter


[Install]
WantedBy=multi-user.target
EOF

    systemctl enable puavo-webfilter.service
    ;;
	
  unconfigure)
      rm -f /usr/local/sbin/puavo-webfilter
      rm -f /etc/systemd/system/puavo-webfilter.service
    ;;
    
  *)
    ;;
esac






