[Desktop Entry]
Name=CafePitch
GenericName=Markdown Presentations
Comment=Multiplayer infinite-world block sandbox
Comment[de]=Mehrspieler-Sandkastenspiel mit unendlichen Blockwelten
Exec=/opt/cafepitch/CafePitch
Icon=/usr/share/pixmaps/cafepitch.png
Terminal=false
Type=Application
Categories=
StartupNotify=false
Keywords=markdown;presentation
