#!/bin/sh

set -eu

command=$1
upstream_dir=$2

cd "${upstream_dir}"



case "${command}" in
  configure)
    ln -fns ./tuxpaint-folder.sh /etc/profile.d/tuxpaint-folder.sh 
    ln -fns ./tuxpaint.desktop /usr/share/applications/tuxpaint.desktop 
    ;;
	
  unconfigure)

    ;;
    
  *)
    ;;
esac
