#!/bin/sh

set -eu



command=$1
shift


pfad="/etc/puavomenu/menudata"

case "${command}" in
    download)
	true
	;;



    configure)
	upstream_dir=$1

	$upstream_dir/install.sh

	;;
    
    unconfigure)
       true	
	;;
    
    unpack)
	upstream_pack=$1
	upstream_dir=$2

	cp -r ./puavo-extra-setup/* -C "${upstream_dir}" 

	;;
    
    *)
	;;
esac
