#!/bin/sh

set -eu

command=$1
upstream_dir=$2

cd "${upstream_dir}"

m=$(realpath $2)

case "${command}" in
  configure)
      dpkg-deb -x $m/puavo-image-utils_*_all.deb . 
      for b in $m/usr/sbin/*;do
	  ln -fns $b /usr/local/sbin/$(basename $b)
      done
      ln -fns $m/puavo-pkg-tool /usr/local/sbin/puavo-pkg-tool
      ln -fns $m/puavo-image-extend /usr/local/sbin/puavo-image-extend
      ln -fns $m/puavo-image-repository /usr/local/sbin/puavo-image-repository
    ;;
	
  unconfigure)
      upstream_dir=$1
      for b in $m/usr/sbin/*;do
	  rm -f /usr/local/sbin/$(basename $b)
      done
      rm -f /usr/local/sbin/puavo-pkg-tool
      rm -f /usr/local/sbin/puavo-image-extend
      rm -f /usr/local/sbin/puavo-image-repository
    ;;
    
  *)
    ;;
esac
