[Unit]
Description=Wireguard VPN 
After=syslog.target network.target nss-lookup.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/amxa-wireguard


[Install]
WantedBy=multi-user.target
